
    <h1>Hey This is <%=c_user.name%> and email <%=c_user.email%></h1>
  <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100">
    <%if(locals.user.id==c_user.id){%>
        <form action="/user/update/<%=user.id%>" method="POST" enctype="multipart/form-data">
            <h3>Update Name and Email</h3>
            <label for="name">Enter New Name : </label>
            <input type="text" name="name" id="name" placeholder="Enter New Name" value="<%=c_user.name%>" required>
            <br>
            <br>
            <label for="email">Enter New Email : </label>
            <input type="email" name="email" id="email" placeholder="Enter New Email" value="<%=c_user.email%>" required >
            <br>
            <br>
            <input type="file" name="avatar" id="avatar" placeholder="profile picture">
            <br>
            <br>
            <input type="submit" value="Update">
            <br>
            <br>

        </form>
        <%}%>

